/*!
 * Theme Name: Bot Marketing
 * Version: 1.0
 * Text Domain: bot-marketing.com
 * Domain Path: /i18n/
 */


.solution-card:hover {
    box-shadow: none;
    }

.front, .back {
transition: 0.6s;
backface-visibility: hidden;
}

.back {
transform: rotateY(180deg);
}

.solution-card:hover .front {transform: rotateY(180deg);}
.solution-card:hover .back {transform: rotateY(360deg); }


.solution-card {
perspective: 1000px;
  }    
    
